@import url(reset.css);
@font-face {
  font-family: "Roboto-Regular";
  src: url(/fonts/Roboto-Regular.ttf) format("truetype"); }
@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat-Regular.ttf) format("truetype"); }
@font-face {
  font-family: "Montserrat-Light";
  src: url(../fonts/Montserrat-Light.ttf) format("truetype"); }
@font-face {
  font-family: "Merriweather-LightItalic";
  src: url(../fonts/Merriweather-LightItalic.ttf) format("truetype"); }
@font-face {
  font-family: "HelveticaNeueLTProRoman";
  src: url(../fonts/HelveticaNeueLTProRoman.otf) format("opentype"); }
@font-face {
  font-family: "HelveticaNeueLTProMd";
  src: url(../fonts/HelveticaNeueLTProMd.otf) format("opentype"); }
@font-face {
  font-family: "HelveticaNeueLTProLt";
  src: url(../fonts/HelveticaNeueLTProLt.otf) format("opentype"); }
html, body {
  font-size: 16px; }

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

.none {
  display: none; }

.block__head {
  text-align-last: center;
  padding-top: 138px;
  margin-bottom: 131px; }
  .block__head--contacts {
    padding-top: 95px;
    margin-bottom: 64px; }

.block__title {
  margin-bottom: 13px;
  font-family: "HelveticaNeueLTProMd", sans-serif;
  font-size: 34px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #1d1e1f; }
  .block__title--provide {
    color: #ffffff; }

.block__subtitle {
  font-family: "Merriweather-LightItalic", serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.02em;
  color: #898888; }
  .block__subtitle--provide {
    color: #777777; }

.header {
  max-height: 629px; }

.menu {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 45px; }

.menu__item {
  font-family: Roboto;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #989696; }

.menu__item.active {
  color: #010101; }

.logo {
  margin: 0 16px; }

.header__content {
  margin-top: 261px;
  margin-bottom: 206px;
  text-align: center; }

.header__title {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 44px;
  line-height: 41px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #1d1e1f;
  margin-bottom: 4px; }

.header__text {
  margin-bottom: 43px;
  font-family: "Merriweather-LightItalic", serif;
  font-size: 16px;
  line-height: 17px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.03em;
  color: #898888; }

.header__batton {
  width: 188px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid #000000;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #000000; }
  .header__batton:hover {
    background-color: #707070;
    color: #00ffff;
    border: 1px solid #999999; }

.years {
  position: relative;
  padding-top: 128px;
  padding-bottom: 271px;
  background: url(/img/buildings.png) center 101% repeat-x, url(/img/buildings_back.png) center 101% repeat-x, #1d1d1d; }

.years-wrapper {
  margin-top: 128px;
  display: grid;
  grid-gap: 178px;
  grid-template-rows: max-content max-content;
  grid-template-columns: max-content max-content;
  justify-content: space-around;
  align-items: stretch;
  place-content: center center; }

.years__block {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 417px;
  height: 276px;
  background-color: #181818; }

.years__block-title {
  margin: 79px 0 27px 0;
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #fefefe; }

.years__block-text {
  padding: 0 12px 0 12px;
  font-family: "Montserrat-Light", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #b7b7b7;
  margin-bottom: 80px; }

.team {
  text-align: center; }

.team__content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 149px; }

.team__block-photo {
  margin-bottom: 29px; }

.team__block-name {
  font-family: "Helvetica Neue Pro";
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #464646; }

.team__block-prof {
  font-family: "Helvetica Neue Pro";
  font-size: 13px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #b3b3b3;
  margin-bottom: 20px; }

.team__block-socio a {
  font-size: 21px;
  color: #e4e4e4;
  padding: 0 7px 0 7px;
  transition: color .2s ease-in; }
  .team__block-socio a:hover {
    color: #00ffff; }

.provide {
  text-align: center;
  margin-bottom: 150px;
  background: #181818; }

.provide__inner {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around; }

.provide__block {
  width: 100%;
  max-width: 335px;
  padding-bottom: 50px; }

.provide__block-img i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 172px;
  height: 172px;
  margin: 0 auto;
  font-size: 64px;
  color: #fff;
  border: 6px solid #fff;
  border-radius: 50%; }

.provide__block-img {
  margin-bottom: 43px; }

.provide__block-title {
  margin-bottom: 31px;
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 26px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff; }

.provide__block-text {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #383838; }

.contacts {
  text-align: center;
  margin-bottom: 154px; }

.contacts__inner {
  display: flex;
  max-width: 570px;
  margin: 0 auto;
  justify-content: center;
  column-gap: 10%;
  margin-bottom: 153px; }

.contacts__block {
  width: 150px; }

.contacts__block p {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 12px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #898888; }
  .contacts__block p:hover {
    color: aqua; }

.contacts__block i {
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: #323232; }
  .contacts__block i:hover {
    color: aqua; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.contacts__form {
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #898888; }
  .contacts__form input {
    width: 770px;
    height: 52px;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #999999; }
  .contacts__form textarea {
    width: 770px;
    height: 195px;
    resize: none;
    padding: 22px;
    margin-bottom: 20px;
    border: 1px solid #999999; }
  .contacts__form button {
    width: 770px;
    height: 52px;
    margin-bottom: 20px;
    background-color: #161616;
    font-family: "Helvetica Neue Pro - Md";
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #fefefe;
    transition: 0.2s ease-in; }
    .contacts__form button:hover {
      background-color: #707070;
      color: #00ffff;
      border: 1px solid #999999; }

.footer {
  margin-bottom: 30px;
  text-align: center; }
  .footer a {
    color: #616161;
    transition: .2s ease-in; }
    .footer a:hover {
      color: #00ffff; }

@media screen and (max-width: 769px) {
  .container {
    width: 768px; }

  .years {
    height: auto; }

  .years-wrapper {
    margin-top: -50px;
    grid-gap: 30px;
    grid-template-columns: max-content; }

  .team__content {
    flex-wrap: wrap; }

  .team__block {
    padding: 25px 0 25px 0;
    width: 100%; }

  .provide__inner {
    flex-wrap: wrap; }

  .provide__block {
    padding-bottom: 100px; }

  .contacts__form {
    width: 100%;
    max-width: 540px; }
    .contacts__form input {
      width: 540px; }
    .contacts__form textarea {
      width: 540px; }
    .contacts__form button {
      width: 540px; } }
