@import "reset.css";
@font-face {
  font-family: "Roboto-Regular";
  src: url(/fonts/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url(../fonts/Montserrat-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Merriweather-LightItalic";
  src: url(../fonts/Merriweather-LightItalic.ttf) format("truetype");
}
@font-face {
  font-family: "HelveticaNeueLTProRoman";
  src: url(../fonts/HelveticaNeueLTProRoman.otf) format("opentype");
}
@font-face {
  font-family: "HelveticaNeueLTProMd";
  src: url(../fonts/HelveticaNeueLTProMd.otf) format("opentype");
}
@font-face {
  font-family: "HelveticaNeueLTProLt";
  src: url(../fonts/HelveticaNeueLTProLt.otf) format("opentype");
}

html, body {
  font-size: 16px;
}
.lock{
  overflow: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  
}

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:100%;
	background:url(../img/totop.png) no-repeat left top;
}

#toTopHover {
	background:url(../img/totop.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}