.header {
  max-height: 629px;
}

.menu {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 45px;
}
.menu__item {
  font-family: Roboto;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #989696;
}
.menu__item.active {
  color: #010101;
}
.logo {
  margin: 0 16px;
}
.header__content {
  margin-top: 261px;
  margin-bottom: 206px;
  text-align: center;
}
.header__title {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 44px;
  line-height: 41px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #1d1e1f;
  margin-bottom: 4px;
}
.header__text {
  margin-bottom: 43px;
  font-family: "Merriweather-LightItalic", serif;
  font-size: 16px;
  line-height: 17px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.03em;
  color: #898888;
}
.header__batton {
  width: 188px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid #000000;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #000000;

}
