@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  .menu {
    column-gap: 25px;
  }
  .years {
    height: auto;
  }
  .years-wrapper {
    margin-top: -50px;
    grid-gap: 30px;
  }
  .team__content {
    flex-wrap: wrap;
  }
  .team__block {
    padding: 25px 0 25px 0;
    width: 100%;
  }
  .provide__inner {
    flex-wrap: wrap;
  }
  .provide__block {
    padding-bottom: 100px;
  }
  .contacts {
    margin-bottom: 50px;
  }
  .contacts__inner {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .contacts__block {
    width: 100%;
    margin-bottom: 50px;
  }

  .contacts__form {
    width: 100%;
    max-width: 540px;

    & input {
      max-width: 540px;
    }
    & textarea {
      max-width: 540px;
    }
    & button {
      max-width: 540px;
    }
  }
}

@media screen and (max-width: 576px) {
  .nav-menu-desktop {
    display: none;
  }

  .nav-menu__mobile {
    display: flex;
  }

  .menu {
    display: none;
    top: 80px;
    flex-direction: column;
    background: #838383;
    transition: 0.2s linear;
  }
.menu.active{
  display: flex ;
}
  .menu__item {
    max-width: 275px;
    font-size: 32px;
    line-height: 40px;
    color: #e0e0e0;
    padding: 10px;
    border-bottom: 1px solid #fff;
    width: 100%;
    text-align: center;
    &:last-child {
      border-bottom: none;
    }
  }

  .header__content {
    margin-top: 161px;
    margin-bottom: 106px;
    text-align: center;
  }
  .header__title {
    margin-bottom: 50px;
  }

  .contacts__form {
    width: 100%;
    max-width: 420px;

    & input {
      max-width: 420px;
    }
    & textarea {
      max-width: 420px;
    }
    & button {
      max-width: 420px;
    }
  }
}
